/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-align: center;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background-color: #D5E1EF;
    position: relative;
    padding: 16px;
}

body > main {
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 25px 25px rgba(0,0,0, .047);
}

img {
    border-radius: 10px;
    margin-bottom: 16px;
}

h1 {
    color: #1F314F;
    font-family: "Outfit";
    font-size: 22px;
}

p {
    color: #979797;
    font-family: "Outfit";
    font-size: 15px;
    letter-spacing: .19px;
    padding: 16px;
}

.attribution { 
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 11px; 
  text-align: center; 
  background-color: rgb(240, 240, 240);
  padding: 8px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}