@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);

:root {
  --light-grey: #D5E1EF;
  --grey: #7D889E;
  --dark-navy: #1F314F;
  --white: #FFFFFF;
}

body {
    background-color: var(--light-grey);
    font-family: "Outfit", sans-serif;
    text-align: center;
    line-height: normal;
}

main {
    width: 100%;
    max-width: 320px;
    padding: 19px 16px;
    padding-bottom: 40px;
    border-radius: 20px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 25px 25px rgba(0,0,0, .047);
}

img {
    border-radius: 10px;
    margin-bottom: 21px;
}

h1 {
    color: var(--dark-navy);
    font-size: 22px;
    margin-bottom: 16px;
}

p {
    color: var(--grey);
    font-size: 15px;
    letter-spacing: .19px;
    padding: 0 16px;
}

.attribution { 
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 11px; 
  text-align: center; 
  background-color: rgb(240, 240, 240);
  padding: 8px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}